@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


.card{
    width: 18rem;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 25px;

 

   
  
   
   
}
.card-tilte{
    max-height: 10rem;
}
.card-text{
    max-height: 10rem;
}
img{
    width: 250px;
    height: 170px;
   
    
 
}